body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.intro {
    font-weight: 600;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.button-container {
    width: 400px;
    margin: 16px auto;
    background: #e3f4ff;
    text-align: center;
    padding: 8px;
}

button {
    display: block; 
    margin: 0 auto; 
    background: white;
    border: 1px solid #eee;
    padding: 8px 24px;
}